* {
  margin: 0 auto; }

a {
  text-decoration: none;
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #ffffff; }

li {
  display: inline;
  font-size: 15px;
  letter-spacing: normal;
  text-align: center;
  color: #999999; }

h1 {
  width: 597px;
  height: 38px;
  font-size: 50px;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center; }

h2 {
  width: 313px;
  height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

h3 {
  height: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #e5e5e5;
  padding: 1em 0; }

ul {
  padding-left: 0; }

.header {
  width: 100%;
  padding: 19px 0;
  background-color: #2d2827;
  color: #999999;
  font-family: "Source Sans Pro", sans-serif; }

.select {
  display: inline;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center; }

.tag {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 2.4px; }

.socials {
  display: inline;
  font-family: FontAwesome;
  font-size: 15px;
  text-align: center; }

.hero-banner {
  width: 100%;
  height: 90vh;
  background-color: #666666;
  color: #ffffff;
  font-family: "Dosis", sans-serif; }

.navbar-grid {
  padding: 1em 0em; }
  .navbar-grid li {
    padding: 0em 1.5em; }

.title {
  margin-top: 6em;
  text-align: center; }

.title-2 {
  margin-top: 4em;
  text-align: center; }

.sub-title {
  text-align: center;
  width: 924px;
  margin-top: 3em;
  margin-bottom: 5em; }

.sub-title-2 {
  text-align: center;
  width: 656px;
  margin-top: 3em;
  margin-bottom: 4em; }

.btn p {
  width: 150px;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 20px;
  background-color: #a88d7b; }

.down {
  padding-top: 8em;
  text-align: center; }

.logo-size {
  height: 3em; }

.underline {
  margin-top: 2em;
  width: 50px;
  height: 2px;
  background-color: #a88d7b; }

.product-section {
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: #f5f5f5; }

.collection-section {
  width: 100%;
  height: 90vh;
  text-align: center;
  background-color: #ffffff; }

.collection-grid {
  margin-top: 5em; }

.hero-banner-2 {
  width: 100%;
  height: 70vh;
  opacity: 0.9;
  background-color: #666666;
  color: #ffffff;
  font-family: "Dosis", sans-serif; }

.banner-2-wrapper {
  padding-top: 3em;
  padding-right: 10em; }

.wrapper {
  padding: 2em; }

.blog {
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: #f9f9f9; }

.photo {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.content {
  text-align: left; }
  .content p {
    width: 529px;
    height: 239px;
    font-family: SourceSansPro;
    font-size: 15px;
    line-height: 1.67;
    color: #666666; }

.footer-a {
  width: 100%;
  height: 42vh;
  background-color: #2d2827; }

.pic {
  width: 80px;
  height: 80px;
  background-color: #ffffff; }

.list p {
  padding-top: 1em;
  text-align: left; }

.footer-b {
  width: 100%;
  height: 4em;
  background-color: #d7d7d7; }
  .footer-b p {
    text-align: center;
    padding-top: 1.5em; }

.header-alt {
  width: 100%;
  padding: 19px 0;
  background-color: #2d2827;
  color: #999999;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #eeeeee; }

.nav-alt {
  width: 100%;
  height: 93px;
  background-color: #ffffff;
  color: #666666; }

.nav-grid-alt {
  padding: 1em 0em; }
  .nav-grid-alt li {
    padding: 0em 1.5em; }

.mid-alt a {
  color: #666666; }

.hero-alt {
  width: 100%;
  height: 445px;
  background-color: #666666;
  color: #ffffff; }

.title-alt {
  padding-top: 10em;
  text-align: center;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }

.who {
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: #ffffff; }

.what {
  text-align: center;
  width: 100%;
  height: 90vh;
  background-color: #ffffff; }

.team {
  width: 100%;
  height: 721px;
  background: #ffffff; }

.team-member {
  width: 270px;
  height: 305px;
  background-color: #666666;
  color: #333333;
  font-family: "Source Sans Pro", sans-serif; }

.blog-area {
  width: 100%;
  height: 928px;
  background-color: #ffffff; }
  .blog-area h4 {
    color: #333333;
    font-family: "Source Sans Pro", sans-serif; }
  .blog-area h6 {
    color: #999999;
    font-family: "Source Sans Pro", sans-serif; }
  .blog-area p {
    color: #666666;
    font-family: "Source Sans Pro", sans-serif; }
  .blog-area a {
    color: #706259; }

.blog-tag {
  color: #666666; }

.bottom-line {
  width: 1170px;
  border-bottom: 1px #e6e6e6 solid; }

.art-pic {
  width: 370px;
  height: 225px;
  background-color: #666666; }

.shop-items {
  width: 100%;
  height: 1610px;
  background-color: #f5f5f5; }

.pro-img {
  width: 300px;
  height: 300px;
  background-color: #666666; }

.header-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr 0.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "select . tag . socials"; }

.select {
  grid-area: select; }

.tag {
  grid-area: tag; }

.socials {
  grid-area: socials; }

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1rf;
  grid-template-rows: auto;
  grid-template-areas: "search nav cart"; }

.search {
  grid-area: search;
  align-self: center; }

.navbar {
  grid-area: nav; }

.cart {
  grid-area: cart;
  align-self: center; }

.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1rf;
  grid-template-rows: auto;
  grid-template-areas: "left-nav mid-nav right-nav"; }

.left-side {
  grid-area: left-nav;
  align-self: center; }

.logo {
  grid-area: mid-nav;
  align-self: center; }

.right-side {
  grid-area: right-nav;
  align-self: center; }

.product-grid {
  display: grid;
  margin-top: 3em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.5em;
  grid-template-areas: ". pro1 pro2 pro3 ." ". name1 name2 name3 ." ". price1 price2 price3 ."; }

.product-left {
  grid-area: pro1;
  width: 370px;
  height: 360px;
  background-color: #666666; }

.product-mid {
  grid-area: pro2;
  width: 370px;
  height: 360px;
  background-color: #666666; }

.product-right {
  grid-area: pro3;
  width: 370px;
  height: 360px;
  background-color: #666666; }

.name-left {
  grid-area: name1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333333; }

.name-mid {
  grid-area: name2;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333333; }

.name-right {
  grid-area: name3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333333; }

.price-left {
  grid-area: price1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.price-mid {
  grid-area: price2;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.price-right {
  grid-area: price3;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.collection-grid {
  display: grid;
  grid-gap: 7px;
  margin-top: 3em;
  padding-left: 4em;
  padding-right: 4em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "mod vin" "fig1 fig2"; }

.modern {
  grid-area: mod;
  width: 570px;
  height: 373px;
  background-color: #666666; }

.vintage {
  grid-area: vin;
  width: 570px;
  height: 373px;
  background-color: #666666; }

.fig1 {
  grid-area: fig1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b; }

.fig2 {
  grid-area: fig2;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b; }

.blog-grid {
  display: grid;
  grid-gap: 1em;
  margin-top: 3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "photo info"; }

.photo {
  grid-area: photo; }

.content {
  grid-area: info; }

.footer-grid {
  display: grid;
  text-align: left;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "logo link shop insta"; }

.f-logo {
  grid-area: logo; }

.link {
  grid-area: link; }

.shop {
  grid-area: shop; }

.insta-grid {
  grid-area: insta;
  display: grid;
  padding-top: 1em;
  padding-right: 2em;
  grid-gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "pic1 pic2 pic3 pic4" "pic5 pic6 pic7 pic8"; }

.pic1 {
  grid-area: pic1; }

.pic2 {
  grid-area: pic2; }

.pic3 {
  grid-area: pic3; }

.pic4 {
  grid-area: pic4; }

.pic5 {
  grid-area: pic5; }

.pic6 {
  grid-area: pic6; }

.pic7 {
  grid-area: pic7; }

.pic8 {
  grid-area: pic8; }

.nav-grid-alt {
  display: grid;
  grid-template-columns: 1fr 3fr 1rf;
  grid-template-rows: auto;
  grid-template-areas: "logo-alt mid-alt icons-alt"; }

.logo-alt {
  grid-area: logo-alt;
  align-self: center; }

.mid-alt {
  grid-area: mid-alt;
  align-self: center; }

.icon-alt {
  grid-area: icons-alt;
  align-self: center; }

.who-grid {
  display: grid;
  grid-gap: 1em;
  margin-top: 3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "info photo"; }

.photo {
  grid-area: photo; }

.content {
  grid-area: info; }

.what-grid {
  display: grid;
  grid-gap: 1em;
  margin-top: 3em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "photo info"; }

.photo {
  grid-area: photo; }

.content {
  grid-area: info; }

.team-grid {
  display: grid;
  grid-gap: 7px;
  margin-top: 3em;
  padding-left: 4em;
  padding-right: 4em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "tm1 tm2 tm3 tm4" "n1 n2 n3 n4" "t1 t2 t3 t4" "ic1 ic2 ic3 ic4"; }

.team-member-1 {
  grid-area: tm1; }

.name1 {
  grid-area: n1; }

.title1 {
  grid-area: t1; }

.icons1 {
  grid-area: ic1; }

.team-member-2 {
  grid-area: tm2; }

.name2 {
  grid-area: n2; }

.title2 {
  grid-area: t2; }

.icons2 {
  grid-area: ic2; }

.team-member-3 {
  grid-area: tm3; }

.name3 {
  grid-area: n3; }

.title3 {
  grid-area: t3; }

.icons3 {
  grid-area: ic3; }

.team-member-4 {
  grid-area: tm4; }

.name4 {
  grid-area: n4; }

.title4 {
  grid-area: t4; }

.icons4 {
  grid-area: ic4; }

.blog-top {
  display: grid;
  margin-top: 1em;
  height: 2em;
  grid-gap: 7px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "blog . share"; }

.blog {
  grid-area: blog; }

.share {
  grid-area: share; }

.blog-articles {
  display: grid;
  margin-top: 2em;
  grid-gap: 2em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". arcticle1 arcticle2 arcticle3 ." ". arcticle4 arcticle5 arcticle6 ."; }

.arcticle1 {
  grid-area: arcticle1; }

.arcticle2 {
  grid-area: arcticle2; }

.arcticle3 {
  grid-area: arcticle3; }

.arcticle4 {
  grid-area: arcticle4; }

.arcticle5 {
  grid-area: arcticle5; }

.arcticle6 {
  grid-area: arcticle6; }

.shop-top {
  display: grid;
  color: #666666;
  margin: 1em;
  height: 2em;
  grid-gap: 7px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "showing . sel-order"; }

.show {
  grid-area: showing; }

.sel-order {
  grid-area: sel-order; }

.shop-items {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "pro-section1" "pro-section2" "pro-section3" "pro-section4"; }

.pro-section1 {
  grid-area: pro-section1; }

.pro-section2 {
  grid-area: pro-section2; }

.pro-section3 {
  grid-area: pro-section3; }

.pro-section4 {
  grid-area: pro-section4; }

.pro-section {
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "pro-img pro-name ." "pro-img pro-price ." "pro-img pro-desrcipt ." "pro-img pro-descript ."; }

.pro-img {
  grid-area: pro-img; }

.pro-name {
  grid-area: pro-name; }

.pro-price {
  grid-area: pro-price; }

.pro-descript {
  grid-area: pro-descript; }

/*# sourceMappingURL=main.css.map */
