// apply to all pages
* {
    margin: 0 auto;
}
// style for all anchor tags (it is not nested because iit applies to all)
a {
    text-decoration: none;
    font-family: Dosis;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: $white-prim;
} 
// list styling 
li {
    display: inline;
    font-size: 15px;
    letter-spacing: normal;
    text-align: center;
    color: $warm-grey;  
}
// apply to h1 tags
h1 {
    width: 597px;
    height: 38px;
    font-size: 50px;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
}

h2 {
    width: 313px;
    height: 24px;
    font-family: $SourceSansPro;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: $black-grey;
}

h3 {
    height: 12px;
    font-family: $SourceSansPro;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $off-white;
    padding: 1em 0;
}

ul {
    padding-left: 0;
}