.header-grid {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr 0.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "select . tag . socials" 
}

.select {
    grid-area: select;
}

.tag {
    grid-area: tag;
}

.socials {
    grid-area: socials;
}

.nav-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1rf;
    grid-template-rows: auto;
    grid-template-areas: 
        "search nav cart" 
}

.search {
    grid-area: search;
    align-self: center;
}

.navbar {
    grid-area: nav;
}

.cart {
    grid-area: cart;
    align-self: center;
}

.navbar-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1rf;
    grid-template-rows: auto;
    grid-template-areas: 
        "left-nav mid-nav right-nav" 
}

.left-side {
    grid-area: left-nav;
    align-self: center;
}

.logo {
    grid-area: mid-nav;
    align-self: center;
}

.right-side {
    grid-area: right-nav;
    align-self: center;
}

.product-grid {
    display: grid;
    // grid-gap: 0.5px;
    margin-top: 3em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 0.5em;
    grid-template-areas: 
        ". pro1 pro2 pro3 ."
        ". name1 name2 name3 ."
        ". price1 price2 price3 ." 
}

.product-left {
    grid-area: pro1;
    @include product;
}

.product-mid {
    grid-area: pro2;
    @include product;
}

.product-right {
    grid-area: pro3;
    @include product;
}

.name-left {
    grid-area: name1;
    @include name;
}

.name-mid {
    grid-area: name2;
    @include name;
}

.name-right {
    grid-area: name3;
    @include name;
}
.price-left {
    grid-area: price1;
    @include price;
}
.price-mid {
    grid-area: price2;
    @include price;
}
.price-right {
    grid-area: price3;
    @include price;
}
.collection-grid {
    display: grid;
    grid-gap: 7px;
    margin-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "mod vin"
        "fig1 fig2"
}

.modern {
    grid-area: mod;
    @include collect;
}

.vintage {
    grid-area: vin;
    @include collect;
}

.fig1 {
    grid-area: fig1;
    @include fig;
}
.fig2 {
    grid-area: fig2;
    @include fig;
}

.blog-grid {
    display: grid;
    grid-gap: 1em;
    margin-top: 3em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "photo info"
}

.photo {
    grid-area: photo;
}

.content {
    grid-area: info;
}

.footer-grid {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "logo link shop insta"
}

.f-logo {
    grid-area: logo;
}

.link {
    grid-area: link;
}

.shop {
    grid-area: shop;
}

.insta-grid {
    grid-area: insta;
    display: grid;
    padding-top: 1em;
    padding-right: 2em;
    grid-gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "pic1 pic2 pic3 pic4"
        "pic5 pic6 pic7 pic8"
}

.pic1 {
    grid-area: pic1;
}

.pic2 {
    grid-area: pic2;
}

.pic3 {
    grid-area: pic3;
}

.pic4 {
    grid-area: pic4;
}

.pic5 {
    grid-area: pic5;
}

.pic6 {
    grid-area: pic6;
}

.pic7 {
    grid-area: pic7;
}

.pic8 {
    grid-area: pic8;
}

// grid code for alt pages like shop, about, blog, contact, lookbook

.nav-grid-alt {
    display: grid;
    grid-template-columns: 1fr 3fr 1rf;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo-alt mid-alt icons-alt" 
}

.logo-alt {
    grid-area: logo-alt;
    align-self: center;
}

.mid-alt {
    grid-area: mid-alt;
    align-self: center;
}

.icon-alt {
    grid-area: icons-alt;
    align-self: center;
}

// who we are section grid
.who-grid {
    display: grid;
    grid-gap: 1em;
    margin-top: 3em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "info photo"
}

.photo {
    grid-area: photo;
}

.content {
    grid-area: info;
}

// what we do section grid
.what-grid {
    display: grid;
    grid-gap: 1em;
    margin-top: 3em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "photo info"
}

.photo {
    grid-area: photo;
}

.content {
    grid-area: info;
}

// meet the team section grid
.team-grid {
    display: grid;
    grid-gap: 7px;
    margin-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "tm1 tm2 tm3 tm4"
        "n1 n2 n3 n4"
        "t1 t2 t3 t4"
        "ic1 ic2 ic3 ic4"
}

.team-member-1 {
    grid-area: tm1;
}

.name1 {
    grid-area: n1;
}

.title1 {
    grid-area: t1;
}

.icons1 {
    grid-area: ic1;
}

.team-member-2 {
    grid-area: tm2;
}

.name2 {
    grid-area: n2;
}

.title2 {
    grid-area: t2;
}

.icons2 {
    grid-area: ic2;
}

.team-member-3 {
    grid-area: tm3;
}

.name3 {
    grid-area: n3;
}

.title3 {
    grid-area: t3;
}

.icons3 {
    grid-area: ic3;
}

.team-member-4 {
    grid-area: tm4;
}

.name4 {
    grid-area: n4;
}

.title4 {
    grid-area: t4;
}

.icons4 {
    grid-area: ic4;
}

// blog top section grid
.blog-top {
    display: grid;
    margin-top: 1em;
    height: 2em;
    grid-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "blog . share"
}

.blog {
    grid-area: blog;
}

.share {
    grid-area: share;
}

// blog main or articles section grid 
.blog-articles {
    display: grid;
    // height: 5em;
    margin-top: 2em;
    grid-gap: 2em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        ". arcticle1 arcticle2 arcticle3 ."
        ". arcticle4 arcticle5 arcticle6 ."
}

.arcticle1 {
    grid-area: arcticle1;
}

.arcticle2 {
    grid-area: arcticle2;
}

.arcticle3 {
    grid-area: arcticle3;
}

.arcticle4 {
    grid-area: arcticle4;
}

.arcticle5 {
    grid-area: arcticle5;
}

.arcticle6 {
    grid-area: arcticle6;
}

// shop page

.shop-top {
    display: grid;
    color: $black-light-grey;
    margin: 1em;
    height: 2em;
    grid-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "showing . sel-order"
}

.show {
    grid-area: showing;
}

.sel-order {
    grid-area: sel-order;
}

.shop-items {
    display: grid;
    // margin: 1em;
    // height: 2em;
    grid-gap: 7px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "pro-section1"
        "pro-section2"
        "pro-section3"
        "pro-section4"
}

.pro-section1 {
    grid-area: pro-section1; 
}

.pro-section2 {
    grid-area: pro-section2; 

}
.pro-section3 {
    grid-area: pro-section3; 
}

.pro-section4 {
    grid-area: pro-section4; 
}

.pro-section {
    display: grid;
    // margin: 1em;
    // height: 2em;
    grid-gap: 7px;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "pro-img pro-name ."
        "pro-img pro-price ."
        "pro-img pro-desrcipt ."
        "pro-img pro-descript ."
}

.pro-img {
    grid-area: pro-img;
}

.pro-name {
    grid-area: pro-name;
}

.pro-price {
    grid-area: pro-price;
}

.pro-descript {
    grid-area: pro-descript;
}