@mixin product {
    width: 370px;
    height: 360px;
    background-color: $black-light-grey;
}

@mixin collect {
    width: 570px;
    height: 373px;
    background-color: $black-light-grey;
}

@mixin name {
    font-family: $SourceSansPro;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: $black-grey;
}

@mixin price {
    font-family: $SourceSansPro;
    font-size: 15px;
    font-weight: 600;  
    line-height: 3.2;
    text-align: center;
    color: $warm-grey;
}

@mixin fig {
    font-family: $SourceSansPro;
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: $burnt-sienna;
}