.header {
    // width: 1900px;
    width: 100%;
    // height: 19px;
    padding: 19px 0;
    background-color: $black;
    color: $warm-grey;
    font-family: $SourceSansPro;
}

.select {
    display: inline;
    // width: 13px;
    // height: 9px;
    font-family: $SourceSansPro;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.tag {
    // width: 349px;
    // height: 9px;
    font-family: $SourceSansPro;
    font-size: 12px;
    // line-height: 1.83;
    letter-spacing: 2.4px;
    // text-align: left;
    // color: #999999;
}

.socials {
    display: inline;
    // width: 111px;
    // height: 15px;
    font-family: FontAwesome;
    font-size: 15px;
    text-align: center;
    // color: #999999
    padding: 0 0.5em;
}

.hero-banner {
    width: 100%;
    // height: 945px;
    // height: 59.063em;
    height: 90vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $black-light-grey;
    color: $white-prim;
    font-family: $Dosis;
}

.about-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shop-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog-bg {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero-banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar-grid  {
    padding:  1em 0em;
    li {
        padding: 0em 1.5em
    }
}

.title {
    margin-top: 6em;
    text-align: center;
}

.title-2 {
    margin-top: 4em;
    text-align: center; 
}

.sub-title {
    text-align: center;
    width: 924px;
    margin-top: 3em;
    margin-bottom: 5em;
}

.sub-title-2 {
    text-align: center;
    width: 656px;
    margin-top: 3em;
    margin-bottom: 4em;
}

.btn {

    p {
        width: 150px;
        text-align: center;
        padding: 0.5em 0;
        border-radius: 20px;
        background-color: $burnt-sienna;
    }
}

.down {
    padding-top: 8em;
    text-align: center;
}

.logo-size {
    height: 3em;
}

.underline {
    margin-top: 2em;
    width: 50px;
    height: 2px;
    background-color: $burnt-sienna;
}

.product-section {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: $white;
}

.collection-section {
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: $white-prim;
}

.collection-grid {
    margin-top: 5em;
}

.hero-banner-2 {
    width: 100%;
    height: 70vh;
    opacity: 0.9;
    background-color: $black-light-grey;
    color: $white-prim;
    font-family: $Dosis;
}

.banner-2-wrapper {
    padding-top: 3em;
    padding-right: 10em;
}

.wrapper {
    padding: 2em;
}

.blog {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: $grey-white;
}

.photo {
    width: 585px;
    height: 405px;
    background-color: $black-light-grey;
}

.content {
    text-align: left;
    h4 {
        // width: 339px;
        // height: 23px;
        font-family: $SourceSansPro;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.92;
        text-align: left;
        color: $black-grey;
    }
    h6 {
        // width: 117px;
        // height: 14px;
        font-family: $SourceSansPro;
        font-size: 15px;
        line-height: 3.2;
        text-align: left;
        color: $warm-grey;

    }
    p {
        // width: 529px;
        // height: 239px;
        font-family: $SourceSansPro;
        font-size: 15px;
        line-height: 1.67;
        text-align: left;
        color: $black-light-grey;

    }
}

.footer-a {
    width: 100%;
    height: 42vh;
    background-color: $black;
}

.pic {
    width: 80px;
    height: 80px;
    background-color: $white-prim;
}

.list {
    p {
        padding-top: 1em;
        text-align: left;
    }
}

.footer-b {
    width: 100%;
    height: 4em;
    background-color: $white-sec;
    p {
        text-align: center;
        padding-top: 1.5em;
    }
}

// style code for alt pages like shop, about, blog, contact, lookbook
  .header-alt {
    width: 100%;
    padding: 19px 0;
    background-color: $black;
    color: $warm-grey;
    font-family: $SourceSansPro;
    background-color: #eeeeee;
}

.nav-alt {
    width: 100%;
    height: 93px;
    background-color: $white-prim;
    color: $black-light-grey;
}

.nav-grid-alt {
    padding:  1em 0em;
    li {
        padding: 0em 1.5em
    }
}

.icon-alt {
    padding-top: 3em;
}

.mid-alt {
    a {
        color: $black-light-grey;
    }
}

.hero-alt {
    width: 100%;
    height: 445px;
    background-color: $black-light-grey;
    color: $white-prim;
}

.title-alt {
    padding-top: 10em;
    text-align: center;
    color: $white-prim;
    font-family: $SourceSansPro;
}

.who {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: $white-prim;
}

.what {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: $white-prim;
}

.team {
    width: 100%;
    height: 721px;
    background: $white-prim;
}

.team-member {
    width: 270px;
    height: 305px;
    background-color: $black-light-grey;
    color: $black-grey;
    font-family: $SourceSansPro;
    
}

.blog-area {
    width: 100%;
    height: 928px;
    background-color: $white-prim;
    h4 {
        color: $black-grey;
        font-family: $SourceSansPro;
    }
    h6 {
        color: $warm-grey;
        font-family: $SourceSansPro;
    }
    p {
        color: $black-light-grey;
        font-family: $SourceSansPro;
    }
    a {
        color: $brownish;
    }
}

.blog-tag {
    color: $black-light-grey;
}

.bottom-line {
    // width: 1170px;
    width: 85%;
    border-bottom: 1px $off-grey solid;
}

.small-bottom-line {
    width: 100%;
    border-bottom: 1px $off-grey solid;
}

.art-pic {
    width: 370px;
    height: 225px;
    background-color: $black-light-grey;
}

.shop-items {
    width: 100%;
    height: 1610px;
    background-color: $white;
}

.pro-img {
    width: 300px;
    height: 300px;
    background-color: $black-light-grey;
}

.cart-btn {
    // width: 99px;
    // height: 10px;
    font-family: $SourceSansPro;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 1.5px;
    text-align: center;
    color: $white-prim;
    p {
        width: 180px;
        height: 44px;
        background-color: $mushroom;
        margin: 0;
    }
}

// contact page

.location {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

.details {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

.hours {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}
